body {
    box-sizing: border-box;
    background-color: #ececec;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.content {
    height: 100%;
}

.container-landing {
    color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.landing {
    margin: 0;
}

.header-landing {
    position: relative;
    top: -15vh;
}

.landing-btn {
    font-size: large;
    background-color: inherit;
    color: #f8f8f8;
    font-weight: 700;
    border: 3px solid #f8f8f8;
    border-radius: 15px;
    padding: 3px 10px;
    transition: 0.3s background-color, 0.3s color;
}

.landing-btn:hover {
    background-color: #f8f8f8;
    color: #d89b29;
    border-color: #f8f8f8;
}

/* Animated background info */

html {
    height: 100%;
}

.bg {
    animation: slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ff9e01 50%, #e7e95f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 8s;
}

.bg3 {
    animation-duration: 10s;
}

.content {
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}
