body {
    box-sizing: border-box;
    background-color: #6d7283;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Subject page css */

.header {
    color: rgb(255, 255, 255);
    background-color: #010d31;
    padding: 10px;
    border-radius: 15px;
}

.main-article {
    background-color: #f8f8f8;
    border-radius: 15px;
    font-size: large;
}

#score {
    font-weight: 700;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.alt-article {
    background-color: #f8f8f8;
    border-radius: 15px;
}
#main-video-voting {
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 100;
}
.alt-video {
    background-color: #f8f8f8;
    border-radius: 15px;
}

.alt-header {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    /* font-weight: 700; */
    background-color: #0a1e5c;
    color: white;
}

#submit-article,
#submit-video,
#alert-btn,
.child,
button {
    font-size: medium;
    background-color: inherit;
    color: #36509c;
    font-weight: 700;
    border: 3px solid #36509c;
    border-radius: 15px;
    padding: 3px 10px;
    transition: 0.3s background-color, 0.3s color;
}

#submit-article,
#submit-video {
    border-radius: 5px;
}

.voting-btn {
    padding: 0px 10px;
    font-size: x-large;
    border-radius: 10px;
}

.alt-voting-btn {
    padding: 0px 10px;
    border-radius: 10px;
}

#submit-article:hover,
#submit-video:hover,
#alert-btn:hover,
button:hover {
    background-color: #4561b6;
    color: white;
}

.alert {
    display: none;
}

.btn-close {
    float: right;
}

.children {
    padding: 10px 0;
    border: 3px solid #36509c;
    border-radius: 15px;
}
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
