body {
    box-sizing: border-box;
    background-color: #ececec;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Subject page css */

.header {
    color: white;
    background-color: #506fd4;
    padding: 10px;
    border-radius: 15px;
}

.main-article {
    background-color: #f8f8f8;
    border-radius: 15px;
    font-size: large;
}

#score {
    font-weight: 700;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.alt-article {
    background-color: #f8f8f8;
    border-radius: 15px;
}
#main-video-voting {
    position: absolute;
    right: 5px;
    top: 10px;
}
.alt-video {
    background-color: #f8f8f8;
    border-radius: 15px;
}

.alt-header {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    /* font-weight: 700; */
    background-color: #506fd4;
    color: white;
}

#submit-article,
#submit-video,
#alert-btn,
.child,
button {
    font-size: medium;
    background-color: inherit;
    color: #506fd4;
    font-weight: 700;
    border: 3px solid #506fd4;
    border-radius: 15px;
    padding: 3px 10px;
    transition: 0.3s background-color, 0.3s color;
}

#submit-article, #submit-video {
    border-radius: 5px;
}

.voting-btn {
    padding: 0px 10px;
    font-size: x-large;
    border-radius: 10px;
}

.alt-voting-btn {
    padding: 0px 10px;
    border-radius: 10px;
}

#submit-article:hover,
#submit-video:hover,
#alert-btn:hover
button:hover {
    background-color: #506fd4;
    color: white;
}

.alert {
    display: none;
}

.btn-close {
    float: right;
}

.children {
    padding: 10px 0;
    border: 3px solid #506fd4;
    border-radius: 15px;
}
