body {
    box-sizing: border-box;
    background-color: #ececec;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Subject page css */

.header {
    color: white;
    background-color: #506fd4;
    padding: 10px;
    border-radius: 15px;
}

.main-article {
    background-color: #f8f8f8;
    border-radius: 15px;
    font-size: large;
}

#score {
    font-weight: 700;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.alt-article {
    background-color: #f8f8f8;
    border-radius: 15px;
}
#main-video-voting {
    position: absolute;
    right: 5px;
    top: 10px;
}
.alt-video {
    background-color: #f8f8f8;
    border-radius: 15px;
}

.alt-header {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    /* font-weight: 700; */
    background-color: #506fd4;
    color: white;
}

#submit-article,
.child,
button {
    font-size: medium;
    background-color: inherit;
    color: #506fd4;
    font-weight: 700;
    border: 3px solid #506fd4;
    border-radius: 15px;
    padding: 3px 10px;
    transition: 0.3s background-color, 0.3s color;
}

#submit-article {
    border-radius: 5px;
}

.voting-btn {
    padding: 0px 10px;
    font-size: x-large;
    border-radius: 10px;
}

.alt-voting-btn {
    padding: 0px 10px;
    border-radius: 10px;
}

#submit-article:hover,
button:hover {
    background-color: #506fd4;
    color: white;
}

.children {
    padding: 10px 0;
    border: 3px solid #506fd4;
    border-radius: 15px;
}
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
